@charset "UTF-8";

@import "colors";
@import "fonts";

$media-size-phone: "(max-width: 684px)";
$media-size-tablet: "(max-width: 900px)";

:root {
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}

/* Content */
$max-width: 860px;