pre[class^="language-"],
code[class^="language-"] {
  color: color(fg);
  background: none;

  // Font settings
  font-family: font(mono);
  font-style: normal;
  font-weight: 500;
  font-size: .95em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  // Tab size
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  // Disable hyphen line breaks
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;

  // Selection
  &::selection, & ::selection {
    background: color(bg-sel);
  }
  // Selection on firefox
  &::-moz-selection, & ::-moz-selection {
    background: color(bg-sel);
  }
}

pre[class^="language-"],
:not(pre) > code[class^="language-"] {
  background-color: color(bg-dark) !important;
}

// Code blocks

pre[class^="language-"] {
  border-radius: .5em;
  margin: .5em 0;
  overflow: auto;
  padding: 1em;
}

// Inline code

:not(pre) > code[class^="language-"] {
  border-radius: .3em;
  border: .13em solid hsl(0, 0%, 33%); /* #545454 */
  padding: .15em .2em .05em;
  white-space: normal;
}